*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    
}

body{
    margin: 0;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--color-white);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a, li{
    list-style: none;
    cursor: pointer;
}

img{
    border-style: none;
}

.btn{
    padding: 24px 60px;
    background-color: var(--color-btn);
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--descript-regular);
    font-size: var(--font-20px);
    border-radius: 5px;
}

.heading{
    font-family: var(--title-bold);
    font-size: var(--font-32px);
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1024px){
  
}

@media (max-width: 834px){
   
}

@media (max-width: 460px){
    html{
        font-size: 68.5%;
    }
}


/*
@media (max-width: 991px){
    
}

@media (max-width: 768px){
    
}

@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}
*/