html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: var(--color-btn);
  border-radius: 5rem;
}
