
.navbar{
    position: fixed;
    z-index: 999;
    width: 100vw;
    padding: .5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-main);
    box-shadow: 0 .5rem 8rem rgba(0, 0, 0, 0.1);
}

.navbar .logo{
    font-family: var(--title-bold);
    font-size: var(--font-32px);
    color: var(--color-black-font);
    position: relative;
    left: -4rem;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1875rem;
    font-family: var(--descript-regular);
    font-size: var(--font-20px);
}

.nav-list li a{
    color: var(--color-black-font);
}

.btn-nav{
    padding: 15px 30px;
    background-color: var(--color-btn);
    color: #F1F7F6;
    font-family: var(--descript-regular);
    font-size: var(--font-20px);
    border-radius: 5px;
}

.menu-mobile{
    display: none;
    flex-direction: column;
    gap: 0.3rem;
}

.menu-mobile .line{
    width: 3.5rem;
    height: 5px;
    background: var(--color-btn);
    border-radius: 15px;
}


@media (max-width: 1024px){
    .navbar{
        height: 5rem;
        justify-content: space-evenly;
    }

    .nav-list{
        display: none;
    }

    .menu-mobile{
        display: flex;
    }

}

