.about-me{
    margin-top: 3.75rem;
    width: 100vw;
}

.container-about-me{
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.foto-about{
    position: relative;
    left: -2rem;
    z-index: 10;
}

.deco-circle{
    position: relative;
    right: 3.5rem;
    bottom: 31rem;
}

.content-about-me{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 30rem;
    position:relative;
}

.content-about-me::before{
    content: '';
    position: relative;
    width: 20rem;
    height: 1px;
    background: var(--color-main);
    transform: rotate(90deg);
    top: 16rem;
    right: 13rem;
}

/* BG bauhaus*/
.content-about-me img{
    position:absolute;
    z-index: -1;
    top: 0rem;
    left: 12.5rem;
    width: 475px;
}
/* BG bauhaus*/

.content-about-me h2{
    margin-bottom: 2rem;
}

.block-content h3{
    font-family: var(--title-bold);
    font-size: var(--font-18px);
    color: var(--color-black-font);
    margin-bottom: 1.25rem;
}

.block-content p{
    font-family: var(--descript-regular);
    font-size: var(--font-14px);
    color: var(--color-black-font);
    margin-bottom: 1.5rem;
}

@media (min-width: 1537px){
    .about-me{
        padding: 3.75rem 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .deco-line{
        opacity: 0;
    }
}

@media (max-width: 1024px){
    .container-about-me{
        align-items: center;
        justify-content: center;
        gap: 5rem;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .image-about-me{
        margin-top: -2rem;
        margin-left: -10rem;
    }

    .content-about-me img{
        left: 17rem;
    }

    .deco-line{
        width: 375px;
    }

    .foto-about{
        width: 450px;
    }

    .deco-circle{
        width: 50px;
        bottom: 39rem;
    }
}    
    

@media (max-width: 834px){
    .container-about-me{
        align-items: center;
        justify-content: center;
    }

    .image-about-me{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-left: -2rem;
    }

    .content-about-me img{
        left: 11rem;
    }

    .deco-line{
        margin-left: -10rem;
        width: 375px;
    }

    .foto-about{
        width: 350px;
    }

    .deco-circle{
        width: 50px;
        bottom: 16rem;
    }
   
    .deco-line{
        width: 300px;
    }
    
}

@media (max-width: 480px){
    .image-about-me{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .deco-line{
        display: none;
    }

    .foto-about{
        width: 260px;
    }

    .deco-circle{
        width: 34px;
        display: none;
    }
    
    .content-about-me img{
        display: none;
    }
    
    .block-content h3{
        font-family: var(--title-bold);
        font-size: var(--font-24px);
        color: var(--color-black-font);
        margin-bottom: 1.25rem;
    }
    
    .block-content p{
        font-family: var(--descript-regular);
        font-size: var(--font-18px);
        color: var(--color-black-font);
        margin-bottom: 1.5rem;
    }
}