.about-me{
    padding-top: 3.75rem;
    width: 100vw;

}

.container-about-me{
    display: flex;
    gap: 12.5rem;
    flex-wrap: wrap;
}

.foto-about{
    position: relative;
    left: -2rem;
    z-index: 10;
}

.deco-circle{
    position: relative;
    right: 3.5rem;
    bottom: 31rem;
}

.content-about-me{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 30rem;
    position:relative;
}

.content-about-me::before{
    content: '';
    position: relative;
    width: 20rem;
    height: 1px;
    background: var(--color-main);
    transform: rotate(90deg);
    top: 16rem;
    right: 13rem;
}

/* BG bauhaus*/
.content-about-me img{
    position:absolute;
    z-index: -1;
    top: 0rem;
    left: 12.5rem;
    width: 475px;
    
}
/* BG bauhaus*/

.content-about-me h2{
    margin-bottom: 2rem;
}

.block-content h3{
    font-family: var(--title-bold);
    font-size: var(--font-18px);
    color: var(--color-black-font);
    margin-bottom: 1.25rem;
}

.block-content p{
    font-family: var(--descript-regular);
    font-size: var(--font-14px);
    color: var(--color-black-font);
    margin-bottom: 1.5rem;
}

@media (max-width: 1340px){
    
    .container-about-me{
        align-items: center;
        justify-content: center;
        gap: 0;
        flex-wrap: nowrap;
    }
    
    .image-about-me{
        margin-right: 11rem;
    }

}

@media (max-width: 991px){
    .container-about-me{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    
}

@media (max-width: 450px){
    
}