.home{
    width: 100vw;
    height: 100%;
    background: var(--linerar-gradiente);
}

.container-home {
    padding: 8.75rem;
}

.content-home{
    display: flex;
    gap: 12.5rem;
}

.container-home .bg-geometric{
    position: absolute;
    top: 150px;
    left: 0;
    width: 400px;
    height: 556px;
}

.box-home{
    position: relative;
    z-index: 10;
}

.box-home p{
    font-family: var(--descript-regular);
    font-size: var(--font-20px);
}

.box-home .title-home{
    font-family: var(--title-bold);
    font-size: var(--font-48px);
    width: 32.25rem;
    margin-top: 1.125rem;
    margin-bottom: 1.5rem;
}

.box-home h3{
    font-family: var(--descript-regular);
    font-size: var(--font-18px);
    width: 28.1875rem;
    margin-bottom: 3rem;
}

.box-home h3 span{
    font-weight: bold;
}

.box-home a{
    border-radius: 5px;
}

.content-home .foto img{
    margin-top: -9px;
    width: 100%;
}

/* Section sobre servicos (como posso ajudar você)*/
.sobre-servicos div{
    font-family: var(--title-bold);
    font-size: var(--font-32px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-servicos h3{
    font-family: var(--title-bold);
    font-size: var(--font-32px);
}

.sobre-servicos h3 span{
    font-family: var(--title-medium);
}

.container-serv{
    padding: 3.75rem 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
}

.container-itens{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.content-serv{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-title h3{
    font-family: var(--descript-medium);
    font-size: var(--font-24px);
}

.box-descript p{
    font-family: var(--descript-regular);
    font-size: var(--font-18px);
    text-align: center;
}

@media (min-width: 1537px){
    .home, .container-itens{
        padding: 0 12%;
    }
}

@media (max-width: 1356px){
    .content-home{
        flex-wrap: wrap;
        gap: 8rem;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;   
    }

    .content-home .box-home{
        left: 3rem;
    }

    .container-itens{
        gap: 1rem;
    }

    /*sobre serviços*/
    .sobre-servicos{
        margin-top: -5rem;
    }
}

@media (max-width: 834px){
    .home{
        overflow-y: hidden;
    }
    
    .content-home{
        gap: 10rem;  
    }

    .content-serv{
        width: 324px;
    }
}

@media (max-width: 480px){
    .container-home{
        padding: 10rem 2rem;
    }

    .content-home{
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
        align-items: center;
    }

    .box-home .btn{
        padding: 0.75rem  1.8rem;
    }

    .box-home{
        margin-left: -3rem;
        margin-top: -4rem;
    }

    .container-home .bg-geometric{
        width: 200px;
        top: -5rem;
        left: 0rem;
    }

    .container-home .foto{
        width: 70%;
    }

    /* Section sobre servicos (como posso ajudar você) */
    .content-serv{
        width: 150px;
    }

    .box-icon img{
        width: 70%;
    }

}


